@import "../../responsive.scss";
nav {
  height: 100px;
  display: flex;
  justify-content: space-between;
  align-items: center;

  a {
    transition: all 0.5s ease-in-out;

    @include sm {
      display: none;
    }
    &:hover {
      scale: 1.05;
    }
  }

  .left {
    flex: 3;
    display: flex;
    align-items: center;
    gap: 50px;
    .logo {
      font-weight: bold;
      font-size: 18px;
      font-style: italic;
      display: flex;
      align-items: center;
      gap: 5px;
      img {
        width: 48px;
      }
      span {
        @include md {
          font-size: 14px;
        }
        @include sm {
          display: none;
        }
      }
    }
  }
  .right {
    flex: 2;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    background-color: rgb(91, 170, 170);
    height: 100%;

    a {
      padding: 12px 24px;
      margin: 10px;
    }
    .signup {
      background-color: rgb(106, 106, 209);
    }
  }
}
