@import "./responsive.scss";

.layout{
    height: 100vh;
    max-width: 1366px;
    margin-left: auto;
    margin-right: auto;
    padding: 0 20px;

    @include lg {
        background-color: rgb(206, 118, 118);
        max-width: 1250px;
    }
    @include md {
        background-color: rgb(52, 118, 76);
        max-width: 930px;

    }
    @include sm {
        background-color: rgb(69, 61, 119);
        max-width: 650px;

    }
}

